<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel</title>
    <link rel="stylesheet" href="../dist/css/all.min.css" />
    <link rel="stylesheet" href="../dist/css/main.min.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="logo">
            <span>overtake</span>
            <span>consulting</span>
          </div>
          <ul class="navbar">
            <li><a href="#banner" class="nav-link active">Home</a></li>
            <li><a href="#services" class="nav-link">Services</a></li>
            <li><a href="#team" class="nav-link">Team</a></li>
            <li><a href="#clients" class="nav-link">clients</a></li>
            <li><a href="#contact" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="banner">
      <div class="container">
        <div class="banner-content">
          <h2>Strategy and Design</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae
            asperiores repudiandae odit excepturi dicta rem illo odio
            dignissimos natus magnam
          </p>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <h2>Services</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
          quas autem illum odit beatae quasi accusantium asperiores fugit
          accusamus iste a tempore delectus consequuntur repudiandae repellat,
          quo facilis, dolorem aut! Non, commodi consequuntur! Tempora aut omnis
          in reprehenderit quam enim corporis, officia architecto at harum. Eos
          ducimus reiciendis porro rem
        </p>
        <div class="row">
          <div class="card">
            <div class="card-icon">
              <i class="fas fa-cog"></i>
            </div>
            <div class="card-title">
              <h3>IT Strategy</h3>
            </div>
            <div class="card-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              temporibus dicta aspernatur dolore unde eaque assumenda iste rem
              repellendus expedita quod tenetur, beatae nulla consequatur!
            </div>
            <a href="#" class="btn">Learn More</a>
          </div>
          <div class="card">
            <div class="card-icon">
              <i class="far fa-clipboard"></i>
            </div>
            <div class="card-title">
              <h3>IT Strategy</h3>
            </div>
            <div class="card-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              temporibus dicta aspernatur dolore unde eaque assumenda iste rem
              repellendus expedita quod tenetur, beatae nulla consequatur!
            </div>
            <a href="#" class="btn">Learn More</a>
          </div>
          <div class="card">
            <div class="card-icon">
              <i class="fas fa-user-alt"></i>
            </div>
            <div class="card-title">
              <h3>IT Strategy</h3>
            </div>
            <div class="card-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              temporibus dicta aspernatur dolore unde eaque assumenda iste rem
              repellendus expedita quod tenetur, beatae nulla consequatur!
            </div>
            <a href="#" class="btn">Learn More</a>
          </div>
          <div class="card">
            <div class="card-icon">
              <i class="fas fa-home"></i>
            </div>
            <div class="card-title">
              <h3>IT Strategy</h3>
            </div>
            <div class="card-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              temporibus dicta aspernatur dolore unde eaque assumenda iste rem
              repellendus expedita quod tenetur, beatae nulla consequatur!
            </div>
            <a href="#" class="btn">Learn More</a>
          </div>
        </div>
      </div>
    </section>

    <section id="team">
      <div class="container">
        <div class="team-content">
          <img
            src="../dist/img/photo-of-people-holding-each-other-s-hands-3184433.jpg"
            alt=""
          />
          <div class="content">
            <h2>Our Team</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reprehenderit laudantium nulla porro magni doloremque inventore
              impedit cumque enim. Quibusdam corporis dignissimos consectetur
              consequatur illum amet hic aspernatur voluptas soluta atque?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reprehenderit laudantium nulla porro magni doloremque inventore
              impedit cumque enim. Quibusdam corporis dignissimos consectetur
              consequatur illum amet hic aspernatur voluptas soluta atque?
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="clients">
      <div class="container">
        <h2>Our Clients</h2>
        <div class="carousel">
          <img src="../dist/img/intel.png" />
          <img src="../dist/img/ebay.png" />
          <img src="../dist/img/google-plus.png" />
          <img src="../dist/img/dell.png" />
          <img src="../dist/img/shell.png" />
        </div>
      </div>
    </section>

    <footer id="contact">
      <div class="container">
        <div class="footer-contact">
          <div class="our-contact">
            <h3>Our Contact</h3>
            <p>
              Overtake company Inc <br />
              JC Main Road, Near Shilt Road <br />
              pin-21542 NewYork US. <br />
            </p>
            <p>
              <i class="fa fa-phone"></i><span>(123)456-789-1255-1284</span>
            </p>
            <p>overtake@mail.com</p>
          </div>
          <div class="quick-links">
            <h3>Quicl Links</h3>
            <a href="#">Latest Events</a>
            <a href="#">Terms and Conditions</a>
            <a href="#">Privecy Policy</a>
            <a href="#">Career</a>
            <a href="#">Contact us</a>
          </div>
          <div class="latest-posts">
            <h3>Latest Posts</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
              laboriosam
            </p>
            <p>
              Quasi adipisci natus ullam deleniti itaque. Ad doloremque eaque
              repellat.
            </p>
            <p>
              Qui expedita accusamus consequuntur Quidem provident minima
              eveniet consectetur quisquam
            </p>
          </div>
          <div class="recent-news">
            <h3>Recent News</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              facilis nesciunt reprehenderit voluptas consequatur nisi
            </p>
            <p>
              Reprehenderit neque, nobis minima labore numquam dolorum alias
              Voluptatibus quasi animi reiciendis quos odio asperiores.
            </p>
            <p>
              Aliquid, temporibus molestiae qui soluta ut animi Quam nulla
              obcaecati a quasi ducimus quas impedit
            </p>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <p>&copy;Overtake 2018 All Rights recived By WebThemer</p>
        </div>
      </div>
    </footer>

    <script src="../dist/js/all.min.js"></script>
  </body>
</html>
